$primaryColour: #00040a;

nav {
  display: flex;
  justify-content: center;
  background: $primaryColour;
  color: white;
  padding: 1.5vh 0;

  .logo-container {
    .logo {
      font-size: 56px;
      font-weight: 700;
      font-family: "dancing script";
      min-width: 30vw;
      text-align: left;
    }

    .text {
      font-size: 15px;
      font-family: "poppins";
      font-weight: 100;
    }
  }

  .form-container {
    display: flex;
    align-items: center;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;

      form {
        input,
        button,
        select {
          padding: 8px;
          border: none;
          border-radius: 20px;
          font-size: 14px;
          font-family: "poppins";
          &::placeholder {
            font-size: 16px;
          }
          .radius {
            border-radius: 20px 0 0 20px;
          }
        }
      }
    }
    label {
      color: #ffffff;
      font-size: 18px;
      font-family: "poppins";
      font-weight: 200;
    }
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;

    .logo-container {
      font-size: 35px;
      .logo {
        text-align: center;
      }

      .text {
        font-size: 10px;
      }
    }
    .form-container {
      justify-content: center;
      .form {
        padding: 5px 0;
        gap: 2px;
        display: flex;
        flex-direction: column;

        form {
          input,
          button {
            padding: 0 5px;
            font-size: 14px;
            &::placeholder {
              font-size: 14px;
            }
          }
          select,
          label {
            display: none;
          }
        }
      }
      label {
        font-size: 10px;
      }
    }
  }
}
